<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
  <h1>Listing simulation entries</h1>
  
  <table>
    <tr>
      <th>Gas Pedal Position</th>
      <th>Brake Pedal Position</th>
    </tr>
  
    <% @simulation_entries.each do |simulation_entry| %>
      <tr>
        <td><%= simulation_entry.gas_pedal_position %></td>
        <td><%= simulation_entry.brake_pedal_position %></td>
      </tr>
    <% end %>
  </table>
</div>
  </div>
</header>