<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">Graz, Austria</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">About DomusApp</h4>
        <p class="lead mb-0">DomusApp is ruby on rails application, which analyzes data from car driving simulator and suggests the driver how to drive the electric car to optimize the battery consumption.</p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Domus App 2018</small>
  </div>
</div>